<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>
batchdownload service</head>
<body>

<@table batchdownload_Services@>
<table border=1><caption><strong>Scripts For Custom Services</strong></caption>
<tr>
	<td>Name</td><td>Attributes</td><td>Actions</td>
</tr>
<tr>
	<td>BATCH_DOWNLOAD_AS_ZIP</td>
	<td>com.qifa.BatchdownloadService
		33
		BATCH_DOWNLOAD_TEMP
		null
		null<br>
		null</td>
	<td>3:readyDownloadZipFile:::download faild!</td>
</tr>
</table>
<@end@>
</body>
</html>
